
<form action="/users/{{userId}}/comments/{{commentId}}?_method=PUT" method="POST">
    <div>
        <input type="text" name="content" value="{{comment.content}}" />
    </div>
    <button class="btn pink" type="submit">Edit Comment</button>
</form>