
<h3>Create a Comment!</h3>

<form action="/users/{{userId}}/comments" method="POST">
    <div>
        <input type="text" name="content" placeholder="content" />
    </div>
    <button class="action-btn btn btn-danger" type="submit">Create comment</button>
</form> 