{{#each users}}
<div class="card">
    <div class="card-content">
        <a class="card-title" href="/users/{{id}}">
        {{email}}
        </a>
        <a href="/{{id}}">{{name}}</a>
        {{!-- <input class="action-btn btn btn-danger" type="submit" value="DELETE"> --}}
    </div>
</div>
{{/each}}