<h1> New user page</h1>

<form action="/users" method="POST">
    <div>
        <input type="text" name="email" placeholder="email" />
    </div>
    <div>
        <input type="text" name="password" placeholder="password" />
    </div>
    <button type="submit">Create a User</button>
</form>